<h1>Actor's Resource Log In</h1>

<!-- Login form on page -->
<form id="login-form" action="/login" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" placeholder="youremail@email.com"><br><br>
  <label for="pwd">Password:</label>
  <input type="password" id="pwd" name="pwd" placeholder="password"><br><br>
  <input type="submit" name="Submit">
</form>
<!-- or a link to register -->
