<h1>Add a New Resource Here!</h1>

<form id="new-post-form" action='/posts' method="post">
  <input type="text" name="post[title]" placeholder="Resource Title"><br>
  <textarea rows="4" cols="50" name="post[description]" placeholder="Post description"></textarea>
  <!-- <select>
    <option value="agents">Agents</option>
    <option value="auditions">Auditions</option>
    <option value="monologues">Monologues</option>
  </select> -->

</form>
