<h1>Actor's Resource</h1>

<!-- Login form on page -->
<form action="/users/" method="post">
  <legend>Log In</legend>
  <input type="email" id="email" name="email" placeholder="Enter your email here" required />
  <input type="password" id="pwd" name="pwd" placeholder="Enter your password here">
  <input type="submit" name="Submit">
</form>
<!-- or a link to register -->
