<!-- login route -->
<!-- logic exists to only show log in if not logged in / if session does not exist -->
<br>
<a href="/login">Log In</a><br><br>


<!-- logout link -->
<!-- logic exists to only show logout if logged in -->
<a href="/logout">Log Out</a><br><br>


<!-- register link -->
<a href="/users/new">Register</a>
